{% url 'gedcom' 1 as home_url %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site_title }}{% if person %} : {{ person.full_name }}{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Rochester|Open+Sans" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="{% static "js/jquery-2.1.4.min.js" %}">\x3C/script>');</script>

	<link href="{% static "styles/style-default.css"%}" rel="stylesheet" type="text/css" >
	<link href="{% static "styles/cssmenu.css" %}" rel="stylesheet" type="text/css" >
  </head>
  <body>
    <div id="cssmenu" class="align-right" style="width: 100%;">
      <ul>
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="has-sub">
              <a href="#" class="config-icon"></a>
              <ul>
                <li><a href="/gedgo/dashboard/">Dashboard</a></li>
                <li><a href="/admin/">Admin panel</a></li>
                <li><a href="/gedgo/logout/">Log out</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="/gedgo/logout/">Log out</a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url 'login' %}?next={{request.path}}">Log in</a></li>
        {% endif %}  

        {% if show_researchfiles %}
          <li {% block filesactive %}{% endblock %}><a href="/gedgo/research/">Research</a></li>
        {% endif %}
        {% if show_documentaries %}
          <li {% block docuactive %}{% endblock %}><a href="/gedgo/documentaries/">Documentaries</a></li>
        {% endif %}
        {% if show_blog %}
          <li {% block blogactive %}{% endblock %}><a href="/gedgo/blog/">Blog</a></li>
        {% endif %}

        <li {% if request.path == '/gedgo/list/' %}class="active"{% endif %}><a href="{% url 'people_list' %}">People</a></li>

        <li {% if request.path == home_url %}class="active"{% endif %}><a href="{% url 'gedcom' 1 %}">Home</a></li>


        <li>
          <form class="search" action="/gedgo/list/" method="get">
            <input type="search" name="q" />
          </form>
        </li>
      </ul>
    </div>



    <div id="{%if request.path == home_url %}title{% else %}smalltitle{% endif %}">
      <h1 class="main">van Lakwijk</h1>
    </div>

    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}

    <div id="main">
	  {% block main %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="sidebar">
        {% block leftsidebar %}{% endblock %}
      </div>
	  {% endblock %}
    </div>

  </body>
  {% block javascript %}{% endblock %}
</html>
