{% extends "base.html" %}

{% block blogactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
  <h4>Archive</h4>
  <ul class="archivelist">
    <li><a href="/gedgo/blog/">All</a></li>
    {% for month in months %}
      <li><a href="/gedgo/blog/{{ month.0 }}/{{ month.1 }}/">{{ month.2 }} {{ month.0 }}</a></li>
    {% endfor %}
  </ul>
  {% if user.is_staff %}
  <p class="admin">
    <a href="/admin/gedgo/blogpost/add/" class="add">Add new post</a>
  </p>
  {% endif %}

{% endblock %}

{% block content %}
  <div id="primarycontent">
    <!-- Posts  -->
    {% if posts.object_list %}
        {% for post in posts.object_list %}
          <a href="/gedgo/blog/post/{{ post.id }}"><h2>{{ post.title }}</h2></a>
          <p class="body">{{ post.body|linebreaks|truncatewords:200 }}</p>
          <p class="time">{{ post.created }}</p>
        {% endfor %}
    {% else %}
        <p class="insignificant">
            No blog posts written yet.
        </p>
    {% endif %}
        
    <!-- Next/Prev page links  -->
    {% if posts.object_list and posts.paginator.num_pages > 1 %}
    <div class="section">
      <div style="text-align: center;">
        {% if posts.has_previous %}
            <a class="btn btn-default" href="?page={{ posts.previous_page_number }}"> &lt;&lt; newer entries </a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span> {# post list #}

        {% if posts.has_next %}
            <a class="btn btn-default" href="?page={{ posts.next_page_number }}">older entries &gt;&gt; </a>
        {% endif %} 
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
