{% extends "base.html" %}

{% block blogactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
  <p class="back"><a href="{% url 'blog' %}">Back to the post list</a></p>
  {% if post.tagged_photos.all %}
      {% for photo in post.tagged_photos.all %}
        <a href="{{ photo.docfile.url }}">
          <img src="{{ photo.thumb.url }}" class="sidebar-lead img-rounded">
        </a>
      {% endfor %}
  {% else %}
    <p class="insignificant">No tagged photos in this post</p>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="primarycontent">
    <h2>{{ post.title }}</h2>
    <p class="body">{{ post.body|safe|linebreaks }}</p>
    <p class="time">{{ post.created }}</p>
    {% if user.is_staff %}
        <p class="admin edit"><a href="/admin/gedgo/blogpost/{{ post.id }}/">Edit</a></p>
    {% endif %}

    {% if post.tagged_people.all %}
      <h3>People in this post</h3>
      {% for somebody in post.tagged_people.all %}
        {% include "person-card.html" %}
        {% if forloop.last %}{% else %}<hr>{% endif %}
      {% endfor %}
    {% endif %}

    <!-- Comments  -->
    
    {% include "comment_form.html" %}
  </div>

{% endblock %}