{% extends "base.html" %}

{% block docuactive %}
    class="active"
{% endblock %}

{% block leftsidebar %}
    <h4>Documentaries</h4>
    {% if documentaries.exists %}
        <ul class="nav bs-sidenav">
        {% for documentary in documentaries %}
            <li><a href="#{{ documentary.title|urlencode }}">{{ documentary.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="insignificant">
            No documentaries yet.  Check back soon.
        </p>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="primarycontent">
        {% if documentaries.exists %}
            {% for documentary in documentaries.iterator %}
                {% if documentary.thumb %}
                    <a href="{{ documentary.thumb.docfile.url }}">
                      <img class="documentary-thumb" src="{{ documentary.thumb.docfile.url }}">
                    </a>
                {% endif %}
                <h2 id="{{ documentary.title|urlencode }}">{{ documentary.title }}</h2>
                <p>{{ documentary.description|linebreaks }}</p>
                <p class="time">Last updated: {{ documentary.last_updated }}</p>
                {% if user.is_staff %}
                    <p class="admin edit"><a href="/admin/gedgo/documentary/{{ documentary.title|urlencode }}">Edit</a></p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="insignificant">
                No documentaries yet.  Check back soon.
            </p>
        {% endif %}
        {% if user.is_staff %}
            <p class="admin add"><a href="/admin/gedgo/documentary/add/">Add a documentary</a></p>
        {% endif %}
    </div>
{% endblock %}

