{% load static %}
<div class="card">
  <div class="photo">
	  <a href="/gedgo/{{ somebody.gedcom.id }}/{{ somebody.pointer }}/"><img src="{% if somebody.photos %}{{ MEDIA_URL }}thumbs/{{ somebody.key_photo }}{% else %}{% static "img/generic_person.gif" %}{% endif %}" class="thumb img-rounded"></a>
  </div>
  <div class="card-content">
    <h4 class="card-title"><a href="/gedgo/{{ somebody.gedcom.id }}/{{ somebody.pointer }}/">{{ somebody.full_name }}</a></h4>
    ({{ somebody.year_range }})
  </div>
</div>
