body {
  background: #fcfcfc;
}

body:after {
  display: none;
  /* Preload any not immediately needed images */
  content: url(/static/img/cog-blue.svg);
}

html, body, input {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  background-size: cover;
}


/**********\
 MAIN TITLE 
\**********/


#topbar {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 75px;
  background: white;
}

#title {
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: url(/static/img/tree_extended.jpg) no-repeat;
  background-position: right 65%;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#title .main {
  display: block;
  font-size: 120pt;
  font-family: 'Rochester', cursive;
  padding: 90px 0 0 75px;
  margin: 0;
  font-weight: normal;
}

#title + #main {
  min-height: calc(100vh - 300px - 75px);
}

@media (max-width: 768px) {
  #title {
    height: 150px;
  }

  #title .main {
    font-size: 75pt;
    padding: 15px 0 0 50px;
  }

  #title + #main {
    min-height: calc(100vh - 150px - 75px);
  }
}

@media (max-width: 480px) {
  #title {
    height: 100px;
  }

  #title .main {
    font-size: 50pt;
    padding: 5px 0 0 10px;
  }

  #title + #main {
    min-height: calc(100vh - 100px - 75px);
  }
}

/**********\
 SMALL TITLE 
\**********/


#smalltitle {
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  position: relative;
  background: url(/static/img/tree_extended.jpg) no-repeat;
  background-position: right 60%;
  background-size: cover;
  z-index: 1;
}

#smalltitle .main {
  display: block;
  font-size: 25pt;
  font-family: 'Rochester', cursive;
  padding: 0 0 0 20px;
  margin: 0;
  font-weight: normal;
}

#smalltitle + #main {
  min-height: calc(100vh - 102px);
}


/*********************\
 MENU BAR / SEARCH BOX  
\*********************/

a.config-icon {
  display: inline-block;
  background-image: url(/static/img/cog.svg);
  background-size: 20px 20px;
  background-position: 20% 75%;
  background-repeat: no-repeat;
  width: 50px;
}

a:hover.config-icon {
  background-image: url(/static/img/cog-blue.svg);
}

form {
  margin: 0;
  padding: 0;
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button {
  display: none; 
}

.search input[type=search] {
  background: url(/static/img/search.svg) no-repeat 5px center;
  background-size: 25px;
  margin-top: 7px;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border: none;

  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  outline: none;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.search input[type=search]:focus {
  width: 130px;
  border: 1px solid #a0a0a0;
}

input[type=search] {
  outline: none;
}


.search input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
.search input[type=search]:hover {
  background-color: #fff;
}
.search input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.search input[type=search]:-moz-placeholder {
  color: transparent;
}
.search input[type=search]::-webkit-input-placeholder {
  color: transparent;
}


/**********\
   CONTENT
\**********/

#main {
  width: 100%;
  display: flex;
}

#sidebar {
  flex: 1;
  order: 1;
  width: 300px;
  margin: 0;
  border: 0;
  padding: 10px 0 0 30px;
}

#content {
  flex: 3;
  order: 2;
  display: flex;
  width: calc(100% - 300px);
  margin: 0;
  border: 0;
}

#primarycontent {
  flex: 1.5;
  order: 1;
  margin: 0;
  background: white;
  box-shadow: 0px 0px 50px #e8e8e8;
  padding: 15px;
}

#rightsidecontent {
  flex: 1;
  order: 2;
  margin: 0;
  padding: 20px;
  text-align: right;
}

@media (max-width: 1024px) {
  #content {
    display: block;
    background: white;
    box-shadow: 0px 0px 50px #e8e8e8;
  }

  #primarycontent {
    display: block;
    width: calc(100% - 30px);
    box-shadow: none;
  }

  #rightsidecontent {
    display: block;
    text-align: left;
    width: calc(100% - 40px);
    background: white;
  }
}

@media (max-width: 640px) {
  #main {
    display: block;
    min-height: 0;
  }

  #sidebar {
    float: none;
    width: 100%;
  }

  #content {
    width: 100%;
  }
}

p {
  margin: 0;
  padding: 10px;
}

.insignificant {
  color: #b0b0b0;
}

.back {
  padding: 20px 30px;
}

.back:before {
  content: '◀';
  color: #b0b0b0;
  margin-right: 10px;
}

a:link {
  color: #009ae1;
  text-decoration: none;
}

a:visited {
  color: #009ae1;
}

h2 {
  font-size: 20pt;
  margin: 0;
  color: rgba(98, 131, 152, 1);
}

h3 {
  font-size: 16pt;
  margin: 0;
  color: rgba(98, 131, 152, 1);
}

h4 {
  font-size: 13pt;
  margin: 0;
  color: rgba(98, 131, 152, 1);
  clear: both;
}

#primarycontent h2 {
  padding: 0px 0 0 10px;
}

#primarycontent h3 {
  padding: 30px 0 0 10px;
}

#primarycontent h4 {
  padding: 20px 0 0 25px;
}

ul {
  padding: 10px;
  margin: 0;
}

ul li {
  list-style-type: none;
}

#main ul li:before {
  content: '▷';
  margin: 0 10px 0 0;
  color: #808080;
}

#main input[type='submit'], input[type='button'] {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border: 0;
  background: #425D69;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

#main input[type='submit']:hover, input[type='button']:hover {
  background: #3E84A3;
}

#main textarea {
  width: 100%;
}

#main input[type='submit'] {
  float: right;
}

.add:before {
  content: '+';
  color: #808080;
  display: inline-block;
  width: 20px;
}

.edit:before {
  content: '✐';
  color: #808080;
  display: inline-block;
  width: 20px;
}

.time {
  font-style: italic;
  color: #808080;
}

#content img {
  float: left;
  margin: 10px;
}

.search-result {
	width: 100%;
}


/**********\
    BLOG
\**********/


/**********\
    GEDGO
\**********/



.latestpost {

}

.family {

}

.postcomment {

}

.sidebar-thumb {
  width: 105px;
  margin-bottom: 10px;
}
.subsection-thumb {
  width: 90px;
  margin-bottom: 10px;
}
.photo-subsection {
  margin-right: 20px;
}
.sidebar-lead {
  width: 210px;
  margin-bottom: 10px;
}
.documentary-thumb {
  width: 120px;
  margin-bottom: 10px;
}
.thumb {
  width: 64px;
  margin-bottom: 10px;
}
.comment-area {
  resize: none;
}
.card {
  margin-bottom: 5px;
  clear: both;
  display: block;
  width: 100%;
}
.card-content {
  margin-left: -15px;
}
.card-title {
  margin-top: 5px;
  margin-bottom: 2px;
  clear: none;
}
.help {
  font-size: 18px;
}

rect {
  fill: white;
  stroke: #e8e8e8;
  stroke-width: 1;
}

path {
  fill: none;
  stroke: gray;
  stroke-width: 2;
}

#worker-section {
  min-height: 75px;

}

#worker-section p {
  margin-top: 5px;
}

#worker-status {
  width: 80px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
}

#worker-status span {
  margin-top: 10px;
}
